# =============== #
# Unity generated #
# =============== #
BookProject3rdPersonGame/Xcode/
BookProject3rdPersonGame/XcodeSimulator/
BookProject3rdPersonGame/Build/
BookProject3rdPersonGame/Builds/
BookProject3rdPersonGame/Temp/
BookProject3rdPersonGame/Library/
BookProject3rdPersonGame/Logs/
BookProject3rdPersonGame/obj/
BookProject3rdPersonGame/UnityGenerated/
TowerDefense/Xcode/
TowerDefense/XcodeSimulator/
TowerDefense/Build/
TowerDefense/Builds/
TowerDefense/Temp/
TowerDefense/Library/
TowerDefense/Logs/
TowerDefense/obj/
TowerDefense/UnityGenerated/
2DGlow/Xcode/
2DGlow/XcodeSimulator/
2DGlow/Build/
2DGlow/Builds/
2DGlow/Temp/
2DGlow/Library/
2DGlow/Logs/
2DGlow/obj/
2DGlow/UnityGenerated/
JustForFun/Xcode/
JustForFun/XcodeSimulator/
JustForFun/Build/
JustForFun/Builds/
JustForFun/Temp/
JustForFun/Library/
JustForFun/Logs/
JustForFun/obj/
JustForFun/UnityGenerated/
WorkTest/Xcode/
WorkTest/XcodeSimulator/
WorkTest/Build/
WorkTest/Builds/
WorkTest/Temp/
WorkTest/Library/
WorkTest/Logs/
WorkTest/obj/
WorkTest/UnityGenerated/
NavMesh/Xcode/
NavMesh/XcodeSimulator/
NavMesh/Build/
NavMesh/Builds/
NavMesh/Temp/
NavMesh/Library/
NavMesh/Logs/
NavMesh/obj/
NavMesh/UnityGenerated/
2DShaderGraph/Xcode/
2DShaderGraph/XcodeSimulator/
2DShaderGraph/Build/
2DShaderGraph/Builds/
2DShaderGraph/Temp/
2DShaderGraph/Library/
2DShaderGraph/Logs/
2DShaderGraph/obj/
2DShaderGraph/UnityGenerated/
ThirdPersonMovement/Xcode/
ThirdPersonMovement/XcodeSimulator/
ThirdPersonMovement/Build/
ThirdPersonMovement/Builds/
ThirdPersonMovement/Temp/
ThirdPersonMovement/Library/
ThirdPersonMovement/Logs/
ThirdPersonMovement/obj/
ThirdPersonMovement/UnityGenerated/
TopDownMovement/Xcode/
TopDownMovement/XcodeSimulator/
TopDownMovement/Build/
TopDownMovement/Builds/
TopDownMovement/Temp/
TopDownMovement/Library/
TopDownMovement/Logs/
TopDownMovement/obj/
TopDownMovement/UnityGenerated/
Cubethon/Xcode/
Cubethon/XcodeSimulator/
Cubethon/Build/
Cubethon/Builds/
Cubethon/Temp/
Cubethon/Library/
Cubethon/Logs/
Cubethon/obj/
Cubethon/UnityGenerated/
Fireworks/Xcode/
Fireworks/XcodeSimulator/
Fireworks/Build/
Fireworks/Builds/
Fireworks/Temp/
Fireworks/Library/
Fireworks/Logs/
Fireworks/obj/
Fireworks/UnityGenerated/
Lightning/Xcode/
Lightning/XcodeSimulator/
Lightning/Build/
Lightning/Builds/
Lightning/Temp/
Lightning/Library/
Lightning/Logs/
Lightning/obj/
Lightning/UnityGenerated/
CutTheBush/Xcode/
CutTheBush/XcodeSimulator/
CutTheBush/Build/
CutTheBush/Builds/
CutTheBush/Temp/
CutTheBush/Library/
CutTheBush/Logs/
CutTheBush/obj/
CutTheBush/UnityGenerated/
CartoonWater/Xcode/
CartoonWater/XcodeSimulator/
CartoonWater/Build/
CartoonWater/Builds/
CartoonWater/Temp/
CartoonWater/Library/
CartoonWater/Logs/
CartoonWater/obj/
CartoonWater/UnityGenerated/
CosmoBoy2D/Xcode/
CosmoBoy2D/XcodeSimulator/
CosmoBoy2D/Build/
CosmoBoy2D/Builds/
CosmoBoy2D/Temp/
CosmoBoy2D/Library/
CosmoBoy2D/Logs/
CosmoBoy2D/obj/
CosmoBoy2D/UnityGenerated/
FirstCodeMonkeyLesson/Xcode/
FirstCodeMonkeyLesson/XcodeSimulator/
FirstCodeMonkeyLesson/Build/
FirstCodeMonkeyLesson/Builds/
FirstCodeMonkeyLesson/Temp/
FirstCodeMonkeyLesson/Library/
FirstCodeMonkeyLesson/Logs/
FirstCodeMonkeyLesson/obj/
FirstCodeMonkeyLesson/UnityGenerated/
.vs/
.idea
/Assets/_TerrainAutoUpgrade/
/Assets/_TerrainAutoUpgrade.meta

# ============= #
# IDE generated #
# ============= #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
