# =============== #
# Unity generated #
# =============== #
BookProject3-rdPersonGame/Xcode/
BookProject3-rdPersonGame/XcodeSimulator/
BookProject3-rdPersonGame/Build/
BookProject3-rdPersonGame/Builds/
BookProject3-rdPersonGame/Temp/
BookProject3-rdPersonGame/Library/
BookProject3-rdPersonGame/Logs/
BookProject3-rdPersonGame/obj/
BookProject3-rdPersonGame/UnityGenerated/
TowerDefense/Xcode/
TowerDefense/XcodeSimulator/
TowerDefense/Build/
TowerDefense/Builds/
TowerDefense/Temp/
TowerDefense/Library/
TowerDefense/Logs/
TowerDefense/obj/
TowerDefense/UnityGenerated/
Cubethon/Xcode/
Cubethon/XcodeSimulator/
Cubethon/Build/
Cubethon/Builds/
Cubethon/Temp/
Cubethon/Library/
Cubethon/Logs/
Cubethon/obj/
Cubethon/UnityGenerated/
CosmoBoy2D/Xcode/
CosmoBoy2D/XcodeSimulator/
CosmoBoy2D/Build/
CosmoBoy2D/Builds/
CosmoBoy2D/Temp/
CosmoBoy2D/Library/
CosmoBoy2D/Logs/
CosmoBoy2D/obj/
CosmoBoy2D/UnityGenerated/
.vs/
.idea
/Assets/_TerrainAutoUpgrade/
/Assets/_TerrainAutoUpgrade.meta

# ============= #
# IDE generated #
# ============= #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
